div.container
  form.form-signin(role="form")
    h2.form-signin-heading.
      登录Github
    input.form-control(id="GH_username", type="text", placeholder="Github ID", required="", autofocus="")
    input.form-control(id="GH_password", type="password", placeholder="Password", required="")
    label.checkbox
      input(id="GH_remember", type="checkbox", value="remember")
      |记住ID
    button.btn.btn-lg.btn-primary.btn-block(type="submit").
      保&nbsp;&nbsp;存

script(type="text/javascript").
  (function(){
    var account = require('./lib/account')

    //jquery objects
    var $username = $('.form-signin #GH_username')
    var $password = $('.form-signin #GH_password')
    var $cb = $('.form-signin #GH_remember')
    var $btn = $('.form-signin .btn')

    //bind events
    $('.form-signin #GH_username, .form-signin #GH_password')
      .on('error', function(){$(this).addClass('input-error')})
      .on('normal', function(){$(this).removeClass('input-error')})
      .on('keyup', function(){
        if($(this).val() === ''){
          $(this).trigger('normal')
          return
        }
        if(~$(this).attr('id').indexOf('username')){
          account.verifyUsername($(this).val()) ? $(this).trigger('normal') : $(this).trigger('error')
        }
        else{
          account.verifyPassword($(this).val()) ? $(this).trigger('normal') : $(this).trigger('error')
        }
      })
    $cb.on('click', function(){$(this).toggleClass('remember')})
    $btn.on('click', function(e){
      e.stopPropagation()
      e.preventDefault()

      //check form inputs status
      if($('.form-signin .input-error').length) return

      //save account
      account.save({
        username: $username.val(),
        password: $password.val(),
        remember: $cb.hasClass('remember')
      })
    })
  })()